body {
    height: 100%;
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdDVAhJOGMUODmwzJYWcW-cBJjLTNF4ix6WSundFl63jJf8Sxd3g");*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #708090;
  }
ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: #666;
}
nav {
  position:relative;
  background-color: #333;
}

#fbWrapper {
	width: 30%;
    float: left;
    padding: 5px;
}

.btn.btn-primary.btn-xs{
	margin-top: 14px;
    margin-left: 12px;
}

nav.navbar-nav.navbar-right {
	width: 18%;
}

#yelp {
	width: 50%;
	float: left;
	border: 6px solid #c41200;
    padding: 5px;
}

#poweredBy {
	width: 10%;
	margin-bottom: 5px;
}

#yelpSearches {

	height: 200px;
	overflow: scroll;
}

#map{
	margin: 0 auto;
	width: 75%;
	height: 500px;s
}

td {
	text-align: center;
}

td img {
	margin: 5px;
}

div #map button {
	background-color: #CCCCCC;
	border-radius: 12px;
	transition-duration: 0.4s;
}

div #map h3 {
	color: gainsboro;
	display: inline-block;


}

div #map #test {
	text-align: center;
}

div #map button:hover{
	background-color: gainsboro;

}



























