#fbWrapper {
	width: 50%;
	float: left;
    padding: 5px;
}

#yelp {
	width: 50%;
	float: left;
	border: 6px solid #c41200;
    padding: 5px;
}

#yelpSearches {
	width: 50%;
	float: left;		
	height: 200px;
	overflow: scroll;

}

td {
	text-align: center;
}

td img {
	margin: 5px;
}

